p + p {
    margin-top: 1rem;

    /* Adjust as needed for your design */
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-feature-settings: normal;
    font-variation-settings: normal;
    scroll-behavior: smooth;
    text-wrap: pretty;
}

h1 {
    font-family: 'Sansita Swashed', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

em {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
}

code,
kbd,
samp,
pre {
    font-family: 'Source Sans Pro', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 400;
}

a {
    color: var(--accent-color);
    transition: all 0.3s;
}

a:hover,
a:focus-within,
a:active {
    color: var(--text-color);
}

.nav-indicator {
    background-color: var(--accent-color);
}

a:hover .nav-indicator {
    background-color: var(--text-color);
}

.btn-outline {
    border-width: 1px;
    background-color: transparent;
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.btn-outline:hover {
    background-color: var(--background-color);
    border-color: var(--background-color);
    color: var(--text-color);
}

ol.cards {
    /* background-color: var(--text-color) */
}

.fancybox__slide.has-image>.fancybox__content {
    max-height: 80% !important;
}