#spotlight {
  background: radial-gradient(900px circle at var(--gradient-position), var(--background-color-spot), transparent 60%);
  opacity: .1;
}

.gradient-position {
  --gradient-position: 0px 0px;
}